
@font-face {
    font-family: 'IconFont';
    src: url('./IconFont.woff2') format('woff2'),
         url('./IconFont.woff') format('woff'),
         url('./IconFont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

.icon {
    font-family: 'IconFont';
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.icon-instagram:before { content: "\ea01"; }
.icon-microsoft-explorer:before { content: "\ea02"; }
.icon-premiere:before { content: "\ea03"; }
.icon-typescript:before { content: "\ea04"; }
.icon-whatsapp:before { content: "\ea05"; }